@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
   
*{
font-family: 'Nunito', sans-serif;
}
 body {
font-family: 'Nunito', sans-serif;
line-height: 1.25;
background-color: #f5cfa3;
 /* background-image:../images/dha.jpg; */

} 

:root{
--orange:#ffa500;
}


a
{
 text-decoration: none;
}
.sticky {
position:relative;

background-color: #ebc19b;
}

table {
border: 1px solid #ccc;
border-collapse: collapse;
margin: 0;
padding: 0;
width: 100%;
/*margin-left: 5%;*/
table-layout: relative;
}

table caption {
font-size: 1.5em;
margin: .5em 0 .75em;
}

table tr {
background-color: #f8f8f8;
border: 1px solid #ddd;
padding: .35em;
}

table th,
table td {
padding: .625em;
text-align: center;
}

table th {
font-size: .85em;
letter-spacing: .1em;
text-transform: uppercase;
}

@media screen and (max-width: 600px) {
table {
 border: 0;
}

table caption {
 font-size: 1.3em;
}

table thead {
 border: none;
 clip: rect(0 0 0 0);
 height: 1px;
 margin: -1px;
 overflow: hidden;
 padding: 0;
 position: absolute;
 width: 1px;
}

table tr {
 border-bottom: 3px solid #ddd;
 display: block;
 margin-bottom: .625em;
}

table td {
 border-bottom: 1px solid #ddd;
 display: block;
 font-size: .8em;
 text-align: right;
}

table td::before {
 /*
 * aria-label has no advantage, it won't be read inside a table
 content: attr(aria-label);
 */
 content: attr(data-label);
 float: left;
 font-weight: bold;
 text-transform: uppercase;
}

table td:last-child {
 border-bottom: 0;
}
}

/*Header Css*/
* {box-sizing: border-box;}
 
 body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
 }
 

/*footer*/
.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color:#ccc;
color:black;
text-align: center;
}





.input-style {
width: 90%;
padding: 12px 20px;
margin-left:5%;
box-sizing: border-box;
border: none;
background-color:white;
color: black;
font-size: 16px;
}

input[type=text]:focus, textarea:focus,button:focus{
outline: 4px solid orange;
background-color:rgb(224, 255, 219);     /* oranges! yey */
}


.wrapper {
    text-align: center;
}


.button {
background-color:#742b6a ;
border: none;
color: rgb(255, 255, 255);
padding: 12px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 70px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
margin-left:5%;
font-size: 16px;
width: 20%;
border-radius: 25px;
position: absolute;
position: absolute;
top: 80%;
left: 35%;
}


.button:hover {
background-color: #9c689c;
color: rgb(10, 10, 10);
}

hr
{
 width: 90%
}
h3
{
 text-align: center;
 color: white;
 font-size: 16px;
 font-family: 'Nunito', sans-serif;
}
.alert
{
 color:yellow;
}

.profile-style
{
 border-style: dotted;
 
}

.left-div
{

 width: 20%;
 display:inline-block;
}

.left-div h3{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    padding: auto;
    
}

.left-div input{
    border-radius: 15px 50px 30px;
    border: 2px solid #609;
    padding:20px; 
    width: 700px;
    height: 40px;
}

.right-div
{
 float: right; 
 width: 50%;
 display:inline-block;
}

.right-div h3{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    padding: auto;
}

.right-div input{
    border-radius: 15px 50px 30px;
    border: 2px solid #609;
    padding:20px; 
    width: 700px;
    height: 40px;
}