
#plans{
	display:table;
	margin:30px auto 0;
	height:400px;
  background-color: rgb(248, 223, 184);
	}


#plans .plan{
	font-size:20px;
  float:left;
	height:300px;
  width:300px;
  line-height:36px;
  border-right:1px dotted #97d947;
	border-top:1px dotted #97d947;
	border-bottom:1px dotted #97d947;
	padding:24px;
	margin-top:12px;
	margin-bottom:12px;
	text-align:center;
	}


#plans #border-left{
	border-left:1px dotted #97d947;
 }


#plans .plan div{
	display:table;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	text-align:center;
	}

#plans .name{
	font-size:30px;
	font-weight:bold;
	}


#plans .price{
	color:#81b836;
	font-weight:bold;
	border-bottom:1px solid #ccc
	}



#plans .plan:hover{
	font-size:20px;
	color:#333;
	border:3px solid #97d947;
	height:316px;
	width:236px;
	margin-top:0;
	margin-bottom:0;
    -webkit-box-shadow: 1px 1px 25px 7px rgba(122, 122, 22, .6);
    -moz-box-shadow: 1px 1px 25px 7px rgba(122, 122, 22, .6);
    box-shadow: 1px 1px 25px 7px rgba(122, 122, 22, .6); 
	  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
	}

#plans #border-left:hover{
	border-left:3px solid #97d947;
    }

#plans .plan:hover .name{
	font-size:40px;
	}

#plans .plan:hover .price{
	font-size:20px;
	}


